# Ignore Python compiled files
__pycache__/
repe

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore environment variable files
.env

# Ignore log files
*.log
common_slurm_commands.txt

# Ignore all files in the 'data' and 'plots*' directories
data/
plots*/